@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}
.logo{ 
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:54%;
    border: 3px solid white;
    border-radius: 50px;
}
.mobo img{
    float:left; 
    max-width:0px;
}
#ghar{
    max-width:0; max-height:0; margin:0; padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
}
.nav-list{
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 23px;
    cursor:pointer;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubantu', sans-serif;
}
.nav-list li a:hover{
    text-decoration: none;
    color: gray;
}
.rightNav{
    width:  50%;
    text-align: right;
    padding:0 18px;
}
#search{
    padding:5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 6px;
}
.btn{
    width: 80px;
    height: 30px;
    padding:4px 3px;
    margin:7px 10px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 14px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn2{
    width: 65px;
    height: 23px;
    font-size: 10px;
    background: none;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.btn-sm{
    width: 70px;
    height: 28px;
    padding:4px 0px;
    margin:7px 7px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
}
.buttons{
    justify-content: center;
    padding-left: 30%;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('images/th1.jpg');
    background-size: cover;
    background-blend-mode: darken;
    max-height:633px;
}
.background2{
    background: rgba(0, 0, 0, 0.7) url('images/back.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height:100vh;
}
.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:50%;
    margin:auto;
    height:80%;
}
.firstHalf{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:100px;
}
.secondHalf{
    margin-top: 5%;
    max-height:150px;
    display:flex;
    margin-left:30%;
    margin-right:70%;
}
.secondHalf img{
    width:90%;
    border:3px solid white;
    border-radius: 150px;
    height:150px;
    width:150px;
    margin-top:0%;
    margin-bottom:0%;
}
.text-big{
    font-size: 36px;
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-style: italic; 
    margin-left:0%;
    margin-right:0%;
    text-align: center;
}
.text-big2{
    font-size: 40px;
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-style: italic;
    text-decoration: underline; 
    color: yellowgreen;
}
.text-small{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 0px;
}
.section{
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content:space-evenly;
    max-width: 80%;
    margin:auto;
    font-family: 'Ubuntu', sans-serif;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
    padding:65px;
}
.sectionTag{
    padding:16px 0;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 25px;
}
.thumbnail2 img{
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    margin:25px 25px 25px 25px;
    cursor: pointer;
}
#connect{
    margin-top: 70px;
    min-height:563px;
}
.contacttag{
    margin-left: 35%;
    font-style: italic;
    font-style: oblique;
    display: flex;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    text-decoration: underline;
}
.contactsection{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    /* margin-top: 5px; */
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 200px;
    border-radius: 10px;
}
.contact{
    background-color: rgb(217, 241, 241);
    height: max-content;
    max-width: 90%;
    padding: 50px;
}
.text-center{
    text-align: center;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.text-footer{
    text-align: center;
    padding: 0px 0px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
}
.form{
    max-width:490px;
    margin:25px auto;
}
.form-input{
    cursor:pointer;
    margin: 16px 0;
    padding: 5px 3px;
    width:100%;
    /* padding:5px; */
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-styling{
    display: inline-flex;
    width: 50px;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 35px;
  }
.line{
    position:absolute;
    width: 33px;
    background-color: white;
    height: 4px;
    margin:5px 3px;
} 
.mobo{
    margin:0px;
    display: inline-flex;
} 
li{
    display:inline;
}
.mobo2{
    /* padding:0px; */
    margin:0px;
    display: inline-flex;
} 
.nav-list.mobo{
    margin-left: 40%;
}
.icon{
    visibility: hidden;
}
#clock{
    color:white; float:right; min-width:max-content;
}
.navbar{
    height:70px;
}
.mobo{
    margin-bottom: 12px;
}
.responsiveDay{
    margin-top: -10px;
}
.fffbody{
    margin-top:43px;
    max-height:633px;
    height:633px;
}
html,body{
    overflow-x:hidden;
}
.ghadi{
    margin-bottom: 10px;
}
.h-nav-resp{
    position: fixed;
    width: 520px;
}
.mobmic{
    visibility: hidden;
    width: 0;
    height:0;
}
@media only screen and (max-width: 1200px){
    .nav-list{
        font-size: smaller;
        display:contents;
        margin-left: 2cm;
        line-height:30px;
    }
    .rightNav{
        display:none;
    }
    .firstSection{
        min-height: 800px;
        /* min-height: fit-content; */
    }
    .section{
        height: fit-content;
        display:flex;
        align-items: unset;
        flex-direction: column;
        justify-content: center;
        justify-content:end;
        max-width: max-content;
        margin-top: 80px;
        margin-bottom: 80px;
        font-family: 'Ubuntu', sans-serif;
    } 
    .box-main .secondHalf{
        display:flexbox;
    }
    .thumbnail{
        display: flex;
        justify-content: center;
    }
    .paras{
        padding:10%;
    } 
    .logo{
        float:left;
    }
    .lefty{
        align-items:flex-start;
        padding:0px;
        margin-right: 0px;
    }
    .logo img{
        width:70px;
        border: 3px solid white;
        border-radius: 50px;
    }
    .mobo2{
        margin-top: 0%;
        margin-left: 0%;
        display: block;
    } 
    .contactsection{   
        border: 0em;
        background: none;
    }
    .contacttag{
        margin-left: 50px;
    }
    .contacttag .sectionTag{
        margin-left:30%;
    }
    #main{
        height: max-content;
    }
    .background{
        min-height: 800px;
    }
    #connect{   /**/
        height: max-content;
    }
    .firstHalf{
        margin-top: 170px;
    }
    #search{
        align-items: center;
        width:250px;
    }
    .rightNav .v-class-resp{
        display:flex;
        margin-bottom:4px;
        margin-left:20%;
    }
    .navbar .h-nav-resp .nav-list{
        margin-top: 0%;
    }
    .user-details{
        min-height:420px;
    }
    .mobmic{
        visibility: visible;
        width:64px;
        height:64px;
        zoom:34%;
        margin-bottom:-17px;
    }
}
@media only screen and (max-width: 782px){
    .box-main{
        max-width:80%;
    }
    .contacttag .sectionTag{
        margin-left:20%;
    }
    .ghadi{
        height:0;
        width: 0;
        visibility: hidden;
    }
    .container{
        margin-top: 120px;
    }
}
@media only screen and (max-width: 648px){
    .mobo li{
        padding:2px;
        margin:10px;
    }
    .contacttag .sectionTag{
        margin-left:8%;
    }
    
}
@media only screen and (max-width: 535px){
    .rightNav{
        display: none;
    }
    .navbar .nav-list .mobo{
        margin-top:0px;
        padding: 1px;
    }
    .firstSection .box-main img{
        width:90px;
        height:90px;
    }
    .contacttag .sectionTag{
        margin-left:5%;
    }
    .box-main{
        max-width:100%;
        margin-left: 10px;
        margin-right: 10px; 
        text-align: justify;
    }
    .text-big{
        font-size: 30px;
    }
    .buttons{
        padding-left: 20%;
        /* padding-right: 25%; */
    }
    .firstSection{
        min-height: 800px;
    }
    .mobo li a{
        font-size: 17px; 
        visibility: hidden;   
    }
    .h-nav-resp #ghar{
        max-width: 0;
        max-height: 0;
    }
    #ghar{
        visibility: visible;
        max-width: 25px;
        max-height: 27px;
        margin-left: -190px;
        margin-top: 2px;
        padding-bottom: 6px;
    }
    .h-nav-resp #ghar img{
        visibility: hidden;
        max-width: 0;
        max-height: 0;
    }
    .h-nav-resp #ccc li a{
        visibility: visible;
    }
    .h-nav-resp #ccc{
        display:block;
        width: 100%;
        margin-left: 8px;
    }
    .icon{
        visibility:visible;
        position:fixed;
        float: left;
        margin-left: 0;
        top: 10px;
        width:90%;
        zoom: 130%;
        color: white;
        margin-right: 30px;
        padding-right:30px;
    }
    li{
        position: absolute;
        all: unset;
        display: flex;
        align-content:unset;
    }
    .navbar .h-nav-resp{position:relative;}
    .navbar .h-nav-resp a{
        float:none;
        display:block;
        text-align: left;
    }
    .mobo img{
        min-width:34px; 
        height:30px; 
        margin-top:-4px; 
        padding-right: 4px;
    }
    .mobo li a{
        max-height: 25px;
        margin: 2px;
    }
    
    .h-nav-resp{
        min-width: fit-content;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .icon .fa{
        margin-left:-120px;
        color: white;
        /* float: right; */
        right: 3px;
        position:inherit;
    }
    .background2{
        height: 50px;
    }
    .h-nav-resp{
        height:300px;
    }
    .logo{
        visibility: hidden;
    }
    .h-nav-resp .responsiveDay{
        visibility: visible;
        display: flex;
        margin-left: -560px;
        margin-top: -400px;
        justify-content: center;
        align-content: center;
        position: sticky;
        height:80px;
        width:80px;
    }
}
/*********************** F O R M ***********************************/


.formabcd .form{
    justify-content: center;
}
.fffbody{
    display: flex;
    height:130vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
} 
 .container{
    max-width: 700px;
    width:100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 0;
}
.container .title::before{
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
}
.container form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom:15px;
    width: calc(100%/2 - 20px);
}
.user-details .input-box .details{
    display:block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height:45px;
    width:100%;
    outline: none;
    border-radius:5px;
    border:1px solid #ccc;
    padding-left:15px;
    font-size:16px;
    border-bottom-width:2px;
    transition:all 0.3s ease;
}
form .gender-details .gender-title{
    font-size:20px;
    font-weight:500;
}
form .gender-details .gender-title{
    font-size:20px;
    font-weight:500;
}
form .gender-details .category{
    display:flex;
    width:80%;
    margin: 14px 0;
    justify-content: space-between;
}
form .gender-details .category label{
    display:flex;
    align-items: center;
}
form .gender-details .category .dot{
    height : 18px;
    width:18px;
    background-color:#d9d9d9;
    border-radius:50%;
    margin-right: 10px;
    border:5px solid transparent;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#9b59b6;
}
#dot-2:checked ~ .category label .two,
#dot-1:checked ~ .category label .one,
#dot-3:checked ~ .category label .three{
    border-color:#d9d9d9;
    background:#9b59b6;
}
form input[type="radio"]{
    display:none;
}
form .button{
    height: 45px;
    margin:45px 0;
}
form .button input{
    height:100%;
    width:100%;
    outline:none;
    color:#fff;
    border:none;
    font-size:18px;
    font-weight:500;
    border-radius:5px;
    letter-spacing: 1px;
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    background:linear-gradient(-135deg, #71b7e6, #9b59b6);
}
.btn2{
    width: 65px;
    height: 23px;
    font-size: 10px;
    background: none;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width:1200px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom:2px;
        width: 100%;
    }
    form .gender-details .category{
        width:100%;
    }
    .container form .user-details{
        max-height:300px;
        overflow-y:scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    .user-details .input-box{
        display: inline-flex;
        scroll-behavior: smooth;
    }
    .input-box{
        width: 500px;
        flex-direction: row;
    }
    .input-box span{
        width: 100px;
    }
    .fffbody{
        min-height: 950px;
    }
} 
/*************DARK MODE***************/
.dark1{
    background:black;
}
.dark2{
    background:black;
    color: white;
}
.sticky{
    position: fixed;
    top:0;
    width:100%;
}
